:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  color-scheme: light;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

section[id],
footer[id] {
  scroll-margin-top: 75px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
