[Unit]
Description=SKK site (Next.js)
Documentation=https://skk-n.ru
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/frontend

Environment=NODE_ENV=production
Environment=PORT=3000
Environment=HOSTNAME=127.0.0.1
Environment=NEXT_TELEMETRY_DISABLED=1

ExecStart=/root/frontend/node_modules/.bin/next start -H 127.0.0.1 -p 3000

Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=20

StandardOutput=journal
StandardError=journal
SyslogIdentifier=skk

[Install]
WantedBy=multi-user.target
