.root {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.pattern {
  z-index: 0;
  object-fit: cover;
  object-position: left center;
}

.inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  padding: 100px 20px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 110px 50px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 232px 50px;
  }
}

.photo {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    right: 446px;
    display: block;
    width: 644px;
    aspect-ratio: 644 / 579;
    transform: translateY(-50%);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 644 579' preserveAspectRatio='none'%3E%3Cpath d='M60.9 262.1L601.7 19A30 30 0 0 1 644 46.4L644 532.6A30 30 0 0 1 601.7 560L60.9 316.9A30 30 0 0 1 60.9 262.1Z' fill='%23000'/%3E%3C/svg%3E");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  @media (min-width: 1440px) {
    right: 796px;
  }
}

.photoImage {
  object-fit: cover;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;

  @media (min-width: 768px) {
    flex: none;
    width: 320px;
  }

  @media (min-width: 1440px) {
    width: 636px;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media (min-width: 1440px) {
    flex-direction: row;
    padding: 20px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;

  @media (min-width: 768px) {
    max-width: 320px;
  }

  @media (min-width: 1440px) {
    flex: 1;
    min-width: 0;
  }
}

.value {
  color: #26577c;
  font-size: 96px;
  font-weight: 700;
  line-height: 90px;
}

.label {
  color: #0b0b0b;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
